$fuente1: 'Noto Sans', sans-serif;
$fuente2: 'Roboto', sans-serif;

$azul1: #222438;
$azul2: #1e2133;
$azul3: #292c3d;
$azul4: #46b2cf;
$rosa1: #ee1f4e;
$rosa2: #b80f36;
$fondo: rgba(20, 20, 20, 0.8);